<?xml version="1.0"?>
<launch>
    <arg name="num_of_loop" default="1" /> <!-- "-1" for infinite -->

    <!-- ============================================================== -->
    <!--                    Waypoint Config File                        -->
    <!-- ============================================================== -->
    <!-- <arg name="wp_config" default="line.yaml" /> -->
    <!-- <arg name="wp_config" default="line_trapezoid.yaml" /> -->
    <arg name="wp_config" default="line_trapezoid_small.yaml" />
    <!-- <arg name="wp_config" default="infinity.yaml" /> -->
    <!-- <arg name="wp_config" default="wiener_blut/triangle.yaml" /> -->
    <!-- <arg name="wp_config" default="back_and_forth.yaml" /> -->
    <!-- <arg name="wp_config" default="square.yaml" /> -->
    <!-- <arg name="wp_config" default="square_trapezoid.yaml" /> -->
    <!-- <arg name="wp_config" default="triangle.yaml" /> -->
    <!-- <arg name="wp_config" default="spline.yaml" /> -->
    <!-- <arg name="wp_config" default="spline_trapezoid.yaml" /> -->
    <!-- <arg name="wp_config" default="supereclipse_trapezoid.yaml" /> -->
    <!-- <arg name="wp_config" default="supereclipse_trapezoid_small.yaml" /> -->

    <node pkg="waltzing_robot" name="waltzer" type="waltzer" output="screen">

        <param name="cmd_vel_topic" type="str" value="/ropod/cmd_vel" />
        <!-- <param name="cmd_vel_topic" type="str" value="/load/cmd_vel" /> -->
        <!-- <param name="cmd_vel_topic" type="str" value="/cmd_vel" /> -->

        <!-- <param name="localisation_topic" type="str" value="/amcl_pose" /> -->
        <param name="odom_topic" type="str" value="/ropod/odom_incomplete" />
        <!-- <param name="odom_topic" type="str" value="/odom" /> -->

        <param name="frame" type="str" value="/odom" />

        <param name="sleep_duration" type="double" value="0.1" />
        <param name="max_vel" type="double" value="1.5" />
        <param name="max_acc" type="double" value="2.5" />
        <param name="max_dec" type="double" value="2.5" />
        <param name="max_ang_vel" type="double" value="3.0" />
        <param name="max_ang_acc" type="double" value="8.0" />
        <param name="max_ang_dec" type="double" value="8.0" />
        <param name="allow_unsafe_transition" type="bool" value="true" />
        <param name="num_of_loop" type="int" value="$(arg num_of_loop)" />

        <param name="waypoint_config_filename" type="string"
               value="$(find waltzing_robot)/ros/config/waypoints/$(arg wp_config)" />

    </node>
</launch>
